.centrar{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    background-image: linear-gradient(180deg, #8cb849 0, #76b145 16.67%, #59a83e 33.33%, #319b36 50%, #008e30 66.67%, #00842f 83.33%, #007d32 100%);
   
  }
