html, body{
    display: flex;
    flex-direction: column;
    height:100vh;
    margin: 0;
    background-image: linear-gradient(180deg, #319b36 0, #319b36 50%, #319b36 100%);
    color: aliceblue!important;
  }